#contact-me-title {
    padding-left: 0;
}

.MuiDialog-paperWidthSm {
    width: 33em;
    padding: 10px 20px;
}

.textFieldMargin {
    margin-bottom: 10px !important;
}

.w-100 {
    width: 100% !important;
}