.white {
  color: white;
}

h1 {
  display: inline-block
}

#headerRoot {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  padding-bottom: 3em;
  background-color: #1B263B;
  background-size: cover;
  width: 100%;
  min-height: 600px;
}

#headerContainer {
  width: 475px;
}

#headerTitle {
  display: inline-block;
  width: 460px;
  margin: auto;
}

#header-title .Typist .Cursor {
  display: inline-block;
}

#headerTitle .Typist .Cursor--blinking {
  color: white;
  opacity: 1;
  font-size: 3em;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }